.room {
  height: 100vh;
  text-align: center;
}

.Light {
  background-color: rgb(233, 233, 98);

}

.Dark {
  background-color: black;
  color: white;
}

h1, h2 {
  text-align: center;
}


button {
  height: 40px;
  margin: 15px;
  background-color: palevioletred;
  align-self: center;
  align-content: center;
  shape-outside: padding-box;
}

p {
  text-align: right;
}